body{
    background-color: black;
}
.boxno1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    font-family: 'Arial', sans-serif;
  }
  
  .boxno2{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  .head{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 30px;
  }
  .message {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .email {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .logout {
    margin-top: 20px;
  }
  
  .button {
    background-color: #dcaf1b;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #deab7f;
  }
  